<head>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
        .main {
            width: 50%;
            text-align: center;
            vertical-align: middle;
            
            padding: 0px;
            margin: 1 auto;
            border: thick double #32a1ce;
        }

        .mainTD {
            padding: 2px;
            border: solid;
            text-align: center;
            background-color: rgb(1, 111, 255);
        }

        .TH {
            padding: 1px;
            font-size: 20px;
            text-align: center;
            background-color: #6B8E23;
            color: #FFFFFF;
            font-weight: 500;
        }
    </style>
</head>
<html>

<body>
    <TABLE class="main">
        <TR>
            <TH>Property</TH>
            <TH>Value</TH>
        </TR>
        <%  var keys = Object.keys(userInfo).sort(); 
            keys.forEach(key => {%>
        <TR>
            <TD class="mainTD"><%= key%></TD>
            <TD class="mainTD"><%= userInfo[key]%></TD>
        </TR>
        <%   })%>
    </TABLE>
</body>

</html>