<HTML>

<BODY>
    <P>Paste Public key in OpenSSH format and then Click Validate</P>
    <P><button type="button" onClick="validate()">Validate</button></P>
    <textarea rows="5" cols="100" wrap="soft" id="key">
        </textarea>
    <P><textarea rows="2" cols="100" wrap="soft" id="result" readonly>
        </textarea></P>
    <script>
        function validate() {
            var key = document.getElementById("key").value;
            if (key.trim() === "") {
                document.getElementById("result").value = `Key is empty`;
                return;
            }
            var request = new XMLHttpRequest();

            request.onreadystatechange = function() {
                //message(request.status + request.responseText);
                if (request.readyState === 4 && request.status === 200) {
                    document.getElementById("result").value = request.responseText;
                } else if (request.readyState === 4 && request.status !== 200) {
                    document.getElementById("result").value = `Code: ${request.status} Status: ${request.statusText}`;
                }
            };

        

            request.open('POST', '/approval/validateCertificates', true);
            request.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
            request.setRequestHeader('Accept','application/json');

            var keyEncoded = encodeURIComponent(key);
            var body = `certificates=${keyEncoded}`;
            request.send(body);
        }


    </script>
</BODY>

</HTML>